# CAPSTONE:

# SpaceX  Falcon 9 First Stage Landing Prediction

## Lab 3:

## Assignment: SQL Notebook for Peer Assignment

### Introduction

Using this Python notebook, you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the Dataset

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars, whereas other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore, if we can determine if the first stage will land, we can predict the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the dataset

This assignment requires you to load the SpaceX dataset.

In many cases, the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompatible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24

In [ ]:
# NOTE!!! Not using IBM DB for the assignment (unable to connect in my environment). 
# Working in MySQL instead.

# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below
# to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# !pip install ipython-sql

In [ ]:
%pip install jupysql --quiet
!pip install jupysql --upgrade

In [2]:
%reload_ext sql
%config SqlMagic.displaylimit = 15

In [4]:
!pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in ./anaconda3/lib/python3.10/site-packages (2.0.26)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.27-cp310-cp310-macosx_10_9_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in ./anaconda3/lib/python3.10/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in ./anaconda3/lib/python3.10/site-packages (from sqlalchemy) (2.0.2)
Downloading SQLAlchemy-2.0.27-cp310-cp310-macosx_10_9_x86_64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 6.6 MB/s eta 0:00:00a 0:00:01
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.26
    Uninstalling SQLAlchemy-2.0.26:
      Successfully uninstalled SQLAlchemy-2.0.26
Successfully installed sqlalchemy-2.0.27

In [6]:
# Connecting to the database
%sql mysql+pymysql://root:iruka123@localhost/SpaceX

# Verifying the connection is successful
result = %sql SELECT 1
if result:
    print("Connected to the database.")
else:
    print("Failed to connect to the database.")

Connecting to 'mysql+pymysql://root:***@localhost/SpaceX'

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

1 rows affected.

Connected to the database.

**NOTE: The code below is added to remove blank rows from table**

In [11]:
%sql create table spacextbl as select * from spacex_data where Date is not null

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

101 rows affected.

++
||
++
++

## Tasks

Write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case, enclose them in double quotes (for Example, "Landing_Outcome").**

### Task 1:

Display the names of the unique launch sites in the space mission.

In [14]:
%%sql

select distinct Launch_Site from spacextbl

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

4 rows affected.

+--------------+
| Launch_Site  |
+--------------+
| CCAFS LC-40  |
| VAFB SLC-4E  |
|  KSC LC-39A  |
| CCAFS SLC-40 |
+--------------+

### Task 2:

Display 5 records where launch sites begin with the string 'CCA'

In [18]:
%sql select * from spacextbl where Launch_Site like 'CCA%' limit 5

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

5 rows affected.

+------------+------------+-----------------+-------------+-----------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
|    Date    | Time (UTC) | Booster_Version | Launch_Site |                             Payload                             | PAYLOAD_MASS__KG_ |   Orbit   |     Customer    | Mission_Outcome |   Landing_Outcome   |
+------------+------------+-----------------+-------------+-----------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+
| 2010-06-04 |  18:45:00  |  F9 v1.0  B0003 | CCAFS LC-40 |               Dragon Spacecraft Qualification Unit              |         0         |    LEO    |      SpaceX     |     Success     | Failure (parachute) |
| 2010-12-08 |  15:43:00  |  F9 v1.0  B0004 | CCAFS LC-40 | "Dragon demo flight C1, two CubeSats, barrel of Brouere cheese" |         0         | LEO (ISS) | NASA (COTS) NRO |     Success     | Failure (parachute) |
| 2012-05-22 |  7:44:00   |  F9 v1.0  B0005 | CCAFS LC-40 |                      Dragon demo flight C2                      |        525        | LEO (ISS) |   NASA (COTS)   |     Success     |      No attempt     |
| 2012-10-08 |  0:35:00   |  F9 v1.0  B0006 | CCAFS LC-40 |                           SpaceX CRS-1                          |        500        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
| 2013-03-01 |  15:10:00  |  F9 v1.0  B0007 | CCAFS LC-40 |                           SpaceX CRS-2                          |        677        | LEO (ISS) |    NASA (CRS)   |     Success     |      No attempt     |
+------------+------------+-----------------+-------------+-----------------------------------------------------------------+-------------------+-----------+-----------------+-----------------+---------------------+

### Task 3:

Display the total payload mass carried by boosters launched by NASA (CRS)

In [30]:
%sql SELECT sum(PAYLOAD_MASS__KG_) from spacextbl where Customer = 'NASA (CRS)'

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

1 rows affected.

+------------------------+
| sum(PAYLOAD_MASS__KG_) |
+------------------------+
|        45596.0         |
+------------------------+

### Task 4:

Display average payload mass carried by booster version F9 v1.1

In [31]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) from spacextbl where Booster_Version = 'F9 v1.1'

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

1 rows affected.

+------------------------+
| AVG(PAYLOAD_MASS__KG_) |
+------------------------+
|         2928.4         |
+------------------------+

### Task 5:

List the date when the first succesful landing outcome in ground pad was acheived.

_Hint: Use min function_

In [35]:
%sql SELECT MIN(Date) from spacextbl where Landing_Outcome = 'Success (ground pad)'

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

1 rows affected.

+------------+
| MIN(Date)  |
+------------+
| 2015-12-22 |
+------------+

### Task 6:

List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [58]:
%%sql 

SELECT Booster_Version from spacextbl where Landing_Outcome = 'Success (drone ship)' 
and PAYLOAD_MASS__KG_ between 4001 and 5999

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

4 rows affected.

+-----------------+
| Booster_Version |
+-----------------+
|   F9 FT B1022   |
|   F9 FT B1026   |
|  F9 FT  B1021.2 |
|  F9 FT  B1031.2 |
+-----------------+

### Task 7:

List the total number of successful and failure mission outcomes

In [46]:
%%sql

SELECT COUNT(*) AS Total_Outcome_Count, SUM(Mission_Outcome like '%Success%') 
AS Successful, SUM(Mission_Outcome like '%Failure%') AS Failed
FROM spacextbl

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

1 rows affected.

+---------------------+------------+--------+
| Total_Outcome_Count | Successful | Failed |
+---------------------+------------+--------+
|         101         |    100     |   1    |
+---------------------+------------+--------+

### Task 8:

List the names of the booster_versions which have carried the maximum payload mass. Use a subquery.

In [57]:
%%sql

SELECT Booster_Version, PAYLOAD_MASS__KG_ from spacextbl 
where PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) from spacextbl)

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

7 rows affected.

+-----------------+-------------------+
| Booster_Version | PAYLOAD_MASS__KG_ |
+-----------------+-------------------+
|  F9 FT B1029.1  |        9600       |
|  F9 FT B1036.1  |        9600       |
|  F9 B4 B1041.1  |        9600       |
|  F9 FT  B1036.2 |        9600       |
|  F9 B4  B1041.2 |        9600       |
|   F9 B5B1048.1  |        9600       |
|  F9 B5 B1049.2  |        9600       |
+-----------------+-------------------+

### Task 9:

List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**NOTE: SQLLite does not support monthnames. So you need to use substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [62]:
%%sql

SELECT Year(Date) as "Year", Monthname(Date) as "Month", Booster_Version, Launch_Site,
Landing_Outcome from spacextbl 
where Landing_Outcome = 'Failure (drone ship)' and Year(Date) = 2015

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

2 rows affected.

+------+---------+-----------------+-------------+----------------------+
| Year |  Month  | Booster_Version | Launch_Site |   Landing_Outcome    |
+------+---------+-----------------+-------------+----------------------+
| 2015 | January |  F9 v1.1 B1012  | CCAFS LC-40 | Failure (drone ship) |
| 2015 |  April  |  F9 v1.1 B1015  | CCAFS LC-40 | Failure (drone ship) |
+------+---------+-----------------+-------------+----------------------+

### Task 10:

Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.¶

In [87]:
%%sql

SELECT Landing_Outcome, COUNT(Landing_Outcome) as Count
FROM spacextbl WHERE Date between '2010-06-04' and '2017-03-20'
GROUP BY Landing_Outcome
ORDER BY Count DESC;

Running query in 'mysql+pymysql://root:***@localhost/SpaceX'

8 rows affected.

+------------------------+-------+
|    Landing_Outcome     | Count |
+------------------------+-------+
|       No attempt       |   10  |
|  Failure (drone ship)  |   5   |
|  Success (drone ship)  |   5   |
|   Controlled (ocean)   |   3   |
|  Success (ground pad)  |   3   |
|  Failure (parachute)   |   2   |
|  Uncontrolled (ocean)  |   2   |
| Precluded (drone ship) |   1   |
+------------------------+-------+